*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
body{
    font-size: 16px;
    background-color:#fafaf9;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: calc(100% - 60px);
    max-width: 500px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background-color: #EDE9E8;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #c8c5c5;
    margin: 30px ;
    padding: 30px;
    border: 1px solid #1a1a1a;
    overflow: hidden;
}
h1{
    font-size: 2rem;
    text-align: center;
    margin:2rem 0rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    width: calc(100%-60px);
}
.weight{
    margin:15px 0px;
}
label input{
    width: 100%;
    /* max-width:300px; */
    padding: 15px 15px;
    border-radius: 10px;
    outline: none;
    border:1px solid #1a1a1a;
}

div h5{
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.output{
    width: calc(100%-60px);
    padding: 10px 15px;
    border-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    font-size: 1rem;
}

.formular{
    width:calc(100%-60px);
    position: absolute;
    bottom: 50px;
    font-size: 1rem;
    text-wrap:wrap;
    word-wrap: break-word;
    font-weight: 600;
}
.formular h4{
    text-decoration: underline;
    font-size: 1rem;
}
.footer{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    background-color: #1a1a1a;
    text-align: center;
    color: #ffffff;
}

.calc{
    margin: 1.25rem auto;
}
.calculate{
    padding: 10px 15px;
    background-color: #1a1a1a;
    border:1px solid #ffffff;
    border-radius:5px;
    color: #ffffff;
}
.calculate:active{
    opacity: 0.7;
    cursor: pointer;
}
@media (max-width: 450px) {
    html{
        font-size: 7px;
        overflow-y: auto;
    }
    .output{
        padding: 10px 15px;
        font-size: 2rem;
    }
    .formular h4{
        font-size: 2rem;
    }
    .formular p{ 
        font-size:1.5rem;
        text-wrap: wrap;
        overflow: hidden;
    }
    div h5{
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
    }
}